.iframe{
    height: calc(100vh + 52px);
    width: 100%;
    margin-top: -68px;
}

.embedIframe{
    height: calc(100vh + 50px);
    width: 100%;
    margin-top: -68px;
}

.iframeHeader{
    width: 100%;
    height: 32px;
    position: absolute;
    background: #ebf0f1;
    top: 0;
}

.actions{
    text-align: right;
    font-size: 18px;
    &>span{
        margin-right: 8px;
        cursor: pointer;
        &:hover{
            color: skyblue;
        }
    }

}

.scheduleText{
    display: inline-block;

    .icon{
        cursor: pointer;
        display:none;
        margin-left: 5px;
    }
    &:hover{
        .icon{
            color: #1890ff;
            display: inline-block;
        }
    }
}

.linkText{
    font-size: 12px;
}

.runLogTable{
    width: 100%;
}

.divider{
    height: 2px;
    width: 100%;
    background: #eee;
    margin-bottom: 10px;
}

.logsDiv{
    height: 400px;
    overflow: auto;
}

.selectedNotebookTemplate{
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;

    .selectedNotebookTemplateName{
        font-weight: 600;
        font-size: 18px;
    }

    .templateBackButton{
        position: absolute;
        top: 6px;
        cursor: pointer;
    }
}

.notebookTemplate{
    margin-bottom: 10px;
}

.driversAndExecutores{
    display: flex;   
}

.flexContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: start;
}

.archiveNotebookLink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 170px;
    padding: 5px;
}

.driversAndExecutoresStyle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 350px;
    padding: 5px;
    color:#000000D9;
}

.podStyle{
    margin-right:10px;
}

.actionBar {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  }


.notebookLinkText{
    padding: 10px 0;
    display: block;
}

.schemaBrowser{
    position: absolute;
    height: 100vh;
    top: 0;
    right: -402px;
    width: 400px;
    background: #fff;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
    transition: 200ms;

    &.open{
        right: 0;
        transition: 200ms;
    }
}

.schemaBrowserDrawerButton{
    position: absolute;
    top: 200px;
    left: -40px;
    background: white;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    border-right: none;
    cursor: pointer;
    text-align:center;
    width: 40px;
}

.schemaTreeWrapper{
    height: 100vh;
    overflow: auto;
    padding: 10px;
}

.result{
    font-size: 12px;
}